@use "vendors/normalize";
@use "./abstracts" as *;

@use "base/base";

@use "themes/dark";
@use "themes/light";

@use "components/codeblock";

@use "layouts/topbar";
@use "layouts/sidebar";
@use "layouts/page";

:root {
    //Default colors in case browser does not support data-theme
    --text-color: #000;
    --background-color: #fff;
    --link-color: #543fd7;
    --base-font-size: 16px;

    --switch-height: 20px;
    --switch-padding: 8px;
    --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
    --slider-height: calc(var(--switch-height) - var(--switch-padding));
    --slider-on: calc(var(--switch-height) - var(--switch-padding));    
}

main {
    //Display the sidebar
    display: grid;
    grid-template-columns: auto 1fr;

    @media only screen and (max-width: $breakpoint-sm) {
        //Expand the main content to full width
        grid-template-columns: 1fr;
    }
}

//Layout
.container {
    width: 100%;
}

.text-copyright {
    text-align: center;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media only screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }   
}

.footer-copyright {
    padding-top: 20px;
}

footer {
    background-color: var(--footer-color);
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

footer h1 {
    font-size: 1rem;
    font-weight: 800;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul > li {
    margin-bottom: 10px;
}

.footer-links ul > li a {
    color: var(--footer-link-color);

    &:hover {
        filter: brightness(200%);
    }
}