<nav aria-label="breadcrumb" class="breadcrumb">
    <ol>
      {{ range .Ancestors.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{- if .IsHome }}
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M187.27-147.27v-440L480-807.69l292.73 220.65v439.77H558.27v-264.46H401.92v264.46H187.27Z"/></svg>
            {{- else }}
              {{ .LinkTitle }}
            {{ end -}}
          </a>
        </li>
      {{ end }}
        <li>
          <a aria-current="page" href="{{ .RelPermalink }}" class="active">{{ .LinkTitle }}</a>
        </li>
    </ol>
  </nav>