.breadcrumb {   

    vertical-align: middle;

    > ol {
        margin: 10px 0;
        
        & li {
            display: inline-block;
            padding: 0;
            margin: 0;
            
            vertical-align: middle;
        }
        
        & li:not(:last-child)::after {
            color: var(--text-color);
            display: inline-block;
            content: url('/chevron_right.svg');
            padding: 0 10px;
            vertical-align: middle;

        }
    }

    //Home icon
    & svg {
        fill: var(--text-color);
        vertical-align: middle;

        &:hover {
            fill: var(--primary-color);
        }
    }

    & a {
        color: var(--text-color);
        vertical-align: middle;

        &:hover {
            color: var(--primary-color);
        }

        &.active {
            color: var(--primary-color-lighter);
        }
    }

}