@use "./utils" as *;

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}

.card-list {
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    margin: 30px 15px;
    background-color: var(--header-background-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;

    > a {
        color: var(--text-color);
    }

    &:hover {
        border: 1px solid var(--link-active-color);
    }
}

.card-list-title {
    padding: none;
    margin-top: 0 !important;
}