@use "./utils" as *;

.search-bar {

    margin-right: 10px;

    & svg {
        vertical-align: middle;
        position: absolute;
        margin: 2px 10px 0 5px;
        fill: darkgray;
    }

    & input[type=search] {

        padding: 5px 10px 5px 30px;
        border: 2px solid var(--secondary-color);
        border-radius: 20px;
        font-family: $font-family-sans;
        width: 100px;
        transition: width 0.5s ease;

        &:hover {
            box-shadow: 0px 0px 5px var(--link-color);
        }

        &:focus {
            width: 150px;
            transition: width 0.5s ease;
            //border: 2px solid var(--link-color);
            box-shadow: 0px 0px 5px var(--primary-color);
            border: 0;
            outline: 0;
        }

    }


}