body {
    font-family: "Inter";
    line-height: 1.5;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
    
    &:hover {
        color: var(--link-active-color);
    }
}

.text-copyright {
    font-size: 0.8rem;
    text-align: center;
    color: var(--copyright-text-color);
}

.footer-link-heading {
    font-weight: 600;
    color: var(--footer-text-color);
    margin-bottom: 7px;
}

.text-last-updated {
    font-style: italic;
    font-size: 0.8rem;
}