<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    <div id="sidebar" class="sidebar">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      <!--
      <div class="sidebar-bg">
      </div>
    -->
    </div>
    <div class="article-container">
      <div class="article-main">
        {{ block "main" . }}{{ end }}
      </div>
      <div class="article-toc-container">
        {{- $page := . }}
        {{ if not .Params.hidetoc }}
          {{ if in $page.TableOfContents "li" }}
          <div class="article-toc-button">
            <button onclick="unfold(this)">On this page</button>
          </div>
          <div class="article-toc-content">
            {{ $page.TableOfContents }}
          </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>