@use "./utils" as *;

main {
    display: flex;
}

.article-container {

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    width: 100%;
    max-width: 1100px;
    padding: 0 10px;
    grid-template-areas: 
        "breadcrumbs toc"
        "main toc";

    @media only screen and (max-width: $breakpoint-md) {
        overflow-x: hidden;
        padding: 0;
        grid-template-columns: auto;
        grid-template-areas: 
            "breadcrumbs"
            "toc"
            "main";
    }
}

.article-main {
    
    grid-area: main;
    overflow-x: hidden;
    margin-bottom: 40px;
    align-self: flex-start;

}

.article-breadcrumbs {
    grid-area: breadcrumbs;
    margin: 0px 10px;
}

.article-toc-container {
    
    grid-area: toc;
    align-self: flex-start;
    position: sticky;
    top: 0;
    border-left: 1px solid var(--secondary-color);
    margin-top: 10px;
    height: auto;  
    //min-width: 150px;

    @media only screen and (max-width: $breakpoint-md) {
        position: relative;
        display: block;
        border-left: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 0;
        order: -1;
        width: 95%;
    }
}

.article-toc-button {

    >button {
        display: none;
        font-size: 1rem;
        text-align: left;
        color: var(--text-color);

        @media only screen and (max-width: $breakpoint-md) {
            display: block;
            border: 0;
            padding: 12px 10px;
            cursor: pointer;
            background-color: var(--toc-background-color);
            border-radius: 7px;
            width: 100%;
            //margin-top: 10px;
        }
    }

    &.unfold {

        >button {
            @media only screen and (max-width: $breakpoint-md) {
                border-radius: 7px 7px 0 0;
                border-bottom: 1px solid var(--secondary-color);
                //transition: border-bottom 0.5s ease;
            }
        }

        +.article-toc-content {
            @media only screen and (max-width: $breakpoint-md) {
                max-height: 1500px;
            }
        }
    }
}

.article-toc-content {
    
    transition: max-height 0.5s ease-in-out;

    @media only screen and (max-width: $breakpoint-md) {
        font-size: 1rem;
        background-color: var(--toc-background-color);
        overflow: hidden;
        max-height: 0;
        margin-bottom: 10px;
    }
}

@keyframes slidedown {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

#TableOfContents {
    padding-left: 10px;

    & ul {
        list-style: none;
    }

    & ul li {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    & ul li a {
        color: var(--text-color);
        text-decoration: none;
    }

    //Highlight color
    & ul li a.active {
        color: var(--link-color);
        text-decoration: none;

        &:hover {
            color: var(--link-active-color);
        }

        @media only screen and (max-width: $breakpoint-md) {
            color: inherit;

        }
    }

    & ul li ul {
        padding-left: 20px;
    }

}