@use "./utils" as *;

footer {

    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 40px 30px;
    display: grid;
    grid-template-rows: 1fr auto;

}

.footer-link-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }

}

.footer-links ul {

    list-style: none;
    margin-bottom: 20px;

    > li {
        margin-bottom: 3px;
    }
    
    > li > a {
        color: var(--footer-link-color);

        &:hover {
            color: var(--footer-text-color);
        }
    }

}