@use "./utils" as *;

footer {

    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 40px 30px;
    display: grid;
    grid-template-rows: 1fr auto;

    @media only screen and (max-width: $breakpoint-sm) {
        padding: 30px 10px;
    }

}

.footer-link-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }

}

.footer-link-heading {
    font-weight: 600;
    color: var(--footer-text-color);
    margin-bottom: 15px;
}

.footer-links ul {

    list-style: none;
    margin-bottom: 20px;

    > li {
        margin-bottom: 7px;
    }
    
    > li > a {
        color: var(--footer-link-color);

        &:hover {
            color: var(--link-active-color);

            & svg {
                fill: var(--link-active-color);
            }
        }

        & svg {
            padding-left: 7px;
            vertical-align: middle;
            fill: var(--footer-link-color);
        }
        
    }

}