@use "./abstracts" as *;

#menuToggler {
    //Style for hamburger button
    display: none;

    @media only screen and (max-width: $breakpoint-sm) {
        display: block;
    }
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: none;
    padding-right: 7px;
    padding-top: 15px;
    background-color: var(--background-color);
    border-right: 1px solid #dcdcdc38;
    
    @media only screen and (min-width: $breakpoint-sm) {
        display: block;
        padding-top: 0;
        position: static;
        animation-name: none;
        background-color: inherit;
        border-right: 1px solid #dcdcdc38;
    }
}

@keyframes slidein {
    from {left: -250px;}
    to {left: 0px;}
}

@keyframes slideout {
    from {left: 0px;}
    to {left: -250px;}
}

.sidenav.hide {
    display: block !important;
    animation-name: slideout !important;
    animation-duration: 0.5s;
}

.sidenav.show {
    display: block !important; //Reveals the sidebar
    animation-name: slidein !important;
    animation-duration: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    transition: 0.3s;

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 18px;
    }

    &:hover {
        color: var(--link-color);
    }
}

.sidenav a.active {
    color: var(--link-color);
    background-color: var(--sidebar-active-background-color);
}

.sidenav a.ancestor {
    color: var(--link-color);
    //background-color: var(--sidebar-active-background-color);
}

.sidenav ul {
    list-style-type: none;
    margin-left: 10px;
}

.sidenav ul > li > a {
    width: 100%;
    border-radius: 5px;

    &:hover {
        background-color: var(--sidebar-background-color);
    }
}

.sidenav ul > li > ul {
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    vertical-align: middle;

  //  &.unfold-sidebar {
   //     max-height: 500px;
   // }
}

.sidenav ul > li.unfold-sidebar {

    > ul {
        max-height: 500px;
    }

    > .sidebar-dropdown > .btn-dropdown-icon > svg {
        transform: rotate(90deg);
    }    
}

.sidebar-dropdown {
    display: flex;
    align-items: center;
    border-radius: 5px;

    &:hover {
        background-color: var(--sidebar-background-color);
    }
}

.sidebar-dropdown a {
    flex-grow: 1;
    border-radius: 5px;
}

.btn-dropdown-icon {
    background-color: inherit;
    border: none;
    width: 50px;
    padding: 7px 0;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    right: 0;
}

.btn-dropdown-icon:hover {
    background-color: var(--sidebar-icon-background-color);
}

.btn-dropdown-icon svg {
    transition: all 0.3s ease;
    vertical-align: middle;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    margin-left: 50px;
    display: none;

    @media only screen and (max-width: $breakpoint-sm) {
        display: block;
    }
}