@use "./utils" as *;

.sidebar {
    border-right: 1px solid var(--secondary-color);
    min-width: 230px;

    @media only screen and (max-width: $breakpoint-sm) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.sidebar.show {
    display: block;

    @media only screen and (max-width: $breakpoint-sm) {
        background-color: rgba(0, 0, 0, 0.8);
        //background-color: rgba(255, 255, 255, 0.8);
        animation: 0.25s fadein;

        > nav {
            max-width: 60%;
            animation: 0.3s slidein;
        }
    }
}

@keyframes fadein {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.8); }
}

.sidebar > nav {

    height: 100%;

    @media only screen and (max-width: $breakpoint-sm) {
        background-color: var(--sidebar-background-color);
        padding: 20px 10px;
    }
}

@keyframes slidein {
    from { width: 0; }
    to { width: 60%; }
}

.sidebar nav>ul>li {

    & a {
        text-decoration: none;
        color: var(--text-color);
        display: block;
        width: 100%;
        padding: 10px 10px;

        &:hover {
            background-color: var(--sidebar-active-background-color);
        }
    }

    > ul {
        list-style: none;
        padding-left: 15px;
    }

    &:last-child {
        margin-bottom: 50px;
    }

}

.sidebar-dropdown-item {
    display: flex;

    + ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    &.unfold + ul {
        max-height: 500px;
        transition: max-height 0.4s ease;
    }

    &.unfold > button > svg {
        transform: rotate(-180deg);
    }

    &:hover {
        background-color: var(--sidebar-active-background-color);
    }

    & .ancestor {
        color: var(--link-color);
    }

    & .active {
        background-color: var(--sidebar-active-background-color);
        color: var(--link-color);
    }
}

//Dropdown button
.sidebar-btn-dropdown {
    position: relative;
    font-size: 20px;    
    background-color: var(--background-color);
    border: none;
    padding: 1px 5px;
    cursor: pointer;
    vertical-align: middle;    

    > svg {
        fill: var(--text-color);        
        vertical-align: middle;
        transition: transform 0.5s ease;
    }

    &:hover {
        background-color: var(--sidebar-active-background-color);
    }
}

.sidebar {

    & .active {
        background-color: var(--sidebar-active-background-color);
        color: var(--link-color);
    }

    & .ancestor {
        color: var(--link-color);
    }

}