@use "./abstracts" as *;

//Navigation
.topnav {
    display: flex;
    height: 60px;
    margin-bottom: 30px;
    background-color: var(--topbar-background-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px
}

.sidebar-toggler {    
    vertical-align: middle; 

    @media only screen and (max-width: $breakpoint-sm) {
        padding: 10px;   
    }
}

.site-icon {
    vertical-align: middle;
    height: 100%;
    padding: 0 20px;

    @media only screen and (max-width: $breakpoint-sm) {
        padding-left: 0;
    }
}

.site-title-bar {
    vertical-align: middle;
    text-align: left;
    width: auto;
    flex-grow: 1;
    padding: 10px;
    display: flex;

    > img {
        margin-right: 20px;
    }
}

.site-title {
    vertical-align: middle;
    font-family: $font-family-sans;
    font-weight: 600;
    font-size: calc(var(--base-font-size) * 1.8);

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 5vw;
    }
}

.site-title a {
    text-decoration: none;
    color: var(--text-color);
}

.topnav .theme-toggler {
    padding: 0 16px;
    margin: auto;
    display: flex;
}

//Dark/Light theme slider
.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
    margin: 0 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6e6e6e;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: var(--slider-height);
    width: var(--slider-height);
    left: calc(var(--switch-padding) / 2);
    bottom: calc(var(--switch-padding) / 2);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(var(--slider-on));
}

.slider.round {
    border-radius: var(--slider-height);
}

.slider.round:before {
    border-radius: 50%;
}