.article-main {

    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;

    > ul, ol {
        margin-left: 25px;

        > li {
            padding-left: 10px;
            margin-bottom: 5px;
        }
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}