:root[data-theme='light'] {
    //Base colors
    --background-color: #f3f3f3;
    --background-color-secondary: #e7e7e7;
    --text-color: #121416;
    --link-color: #543fd7;
    --footer-color: #f2f2f2;
    --footer-link-color: #2a2c2e;
   
    //Syntax highlighting
    --chroma-bg: #eff1f5;
    --chroma-color: #4c4f69;
    --chroma-highlight: #bcc0cc;
    --chroma-linenos: #8c8fa1;
    --chroma-keyword: #8839ef;
    --chroma-variable: #dc8a78;
    --chroma-function: #1e66f5;
    --chroma-string: #40a02b;    
    --chroma-numbers: #fe640b;
    --chroma-comment: #9ca0b0;
    --chroma-deleted: #d20f39;
    --chroma-generic: #44475a;
}